.card-info{
    margin-right: 1rem;
}

/* 为Card组件添加hover效果 */
.ant-card
.card {
    width: 20rem;
    border-radius: 8px;
}
.card-notFull {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-notFull:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}